{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
    <section id="main">
        <div class="content-panel">
            <div class="content-panel-body without-header without-footer">
                <style>
                    p { max-width: 600px; }
                </style>

                <p>
                    <strong>You have successfully installed EasyAdmin 3 in your application!</strong>
                </p>

                <p>
                    You are seeing this example page because you haven't configured the start page
                    of your Dashboard. To do that, open the following file in your editor:
                </p>
            </div> 
        </div>             
    </section>
{% endblock %}