{% extends 'base.html.twig' %}{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}
{% block title %}Create Post{% endblock %}
{% block body %}
<section class="section">
        <div class="alert alert-success" role="alert">Your post has been added!</div>
</section>   
{% endblock %}